body {
    font-size: 1.7vh;
    background: #181a1b;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.wrapper {
    max-width: 42em;
    padding: 1em;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: 1em;
}

button {
    font-size: 2em;
    padding: 0.5em 1em;
    margin: 1em;
    background-color: teal;
    border: none;
    border-radius: 5px 5px;
    box-shadow: 3px 3px 12px black;
    color: white;
    transition: all 0.2s;
}

button:active {
    background-color: #006060;
    box-shadow: 1px 1px 1px black;
    transition: all 0.2s;
}

#left {
    margin-left: 0;
}

#right {
    margin-right: 0;
}

#progress-bar {
    height: 1em;
    width: 100%;
    padding: 0;
    background: teal;
}

.red {
    color: red;
}

.green {
    color: green;
}

.padded {
    padding-bottom: 4em;
}

#score {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#footer a {
    color: gray;
    text-decoration: none;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.square {
    position: relative;
}
.result-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: success-wrapper;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: -1;
}

.success {
    font-size: 4em;
    color: white;
    margin: 0;
    animation-name: success-color, success-size;
    animation-duration: 0.4s, 1s;
    animation-timing-function: ease, ease;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes success-color {
    from {
        color: white;
    }
    to {
        color: green;
    }
}
@keyframes success-size {
    from {
        font-size: 4em;
        opacity: 1;
    }
    to {
        font-size: 8em;
        opacity: 0;
    }
}
@keyframes success-wrapper {
    from {
        top: 0;
    }
    to {
        top: -2.5em;
    }
}

.fail {
    font-size: 4em;
    color: white;
    margin: 0;
    animation-name: fail-color, fail-size;
    animation-duration: 0.4s, 1s;
    animation-timing-function: ease, ease;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes fail-color {
    from {
        color: white;
    }
    to {
        color: red;
    }
}
@keyframes fail-size {
    from {
        font-size: 4em;
        opacity: 1;
        transform: rotateX(0deg) translatez(0em);
    }
    to {
        font-size: 8em;
        opacity: 0;
        transform: rotateX(90deg) translatez(-0.32em);
    }
}
