body {
    font-size: 1.7vh;
    background: #181a1b;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

div {
    max-width: 42em;
    padding: 1em;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: 1em;
}

button {
    font-size: 2em;
    padding: 0.5em 1em;
    margin: 1em;
    background-color: teal;
    border: none;
    border-radius: 5px 5px;
    box-shadow: 3px 3px 12px black;
    color: white;
    transition: all 0.2s;
}
button:active {
    background-color: #006060;
    box-shadow: 1px 1px 1px black;
    transition: all 0.2s;
}

#progress-bar {
    height: 1em;
    width: 100%;
    padding: 0;
    background: teal;
}

.red {
    color: red;
}

.green {
    color: green;
}

.padded {
    padding-bottom: 4em;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#footer a {
    color: gray;
    text-decoration: none;
}

#copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
